/* latin */
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url(https://fonts.gstatic.com/s/merienda/v4/jzdtQ30m6V77-C5vjVpEXPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Fresca';
  font-style: normal;
  font-weight: 400;
  src: local('Fresca-Regular'), url('../fonts/Fresca/fresca.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@import "helpers/common";
@import "helpers/colors";
@import "helpers/mixins";

@import "components/header";
@import "components/footer";
@import "components/general";



h1,h2,h3{
    font-family: 'Merienda', cursive;
}

p, a, span, li, button {
    font-family: 'Fresca', sans-serif;
}

.icon { 
	height: 20px;
	width: 20px;
}

.carousel-wrap {
  margin: 30px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -10px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
 
	.icon { 
		fill: $pink;
	}
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

