.navbar-brand { 
    position: relative; z-index: 2; 
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar {
    margin-bottom: 0px;
    min-height: 65px;
    @include box-shadow(1px 1px 1px 1px rgba(0, 0, 0, 0.5));
}

.navbar-default {
    background-color: $pink;
    border-color: transparent;
}

.navbar-brand {
    padding: 0;
}

.navbar-default .navbar-brand {
    color: #fff;

    img {
        display: inline-block;
        padding: 5px;
        width: 65px;

        span { 
            vertical-align: sub;
        }
    }
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 1.5em;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 15px auto; }

.navbar .navbar-collapse { position: relative; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

    .header-name {
        color : $white;
        font-size: 1.5em;
        vertical-align: -webkit-baseline-middle;
    }

@media screen and (max-width: 767px) {
  
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
    .navbar-default{
        li {
            a {
                padding: 20px;
            }
        }
    } 

    .header-name {
        color : $white;
        font-size: 1.5em;
        vertical-align: -webkit-baseline-middle;
        vertical-align: middle;
    }

    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color : $purple;
    }

}