* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.products-separator {
    border-bottom: 1px solid #d57e87;
    margin: 30px 0;
    line-height: 0.1em;
    text-align: center;
    width: 100%;
}

.separator-span {
    background: #fff;
    color: #ff0000;
    font-weight: bold;
    padding: 0 10px;
}